In [0]:
%sql
with recursive num as (
select 1 as n
union all
select n+1 from num where n <10
)
select * from num

In [0]:
%sql
select e2.* from erm.employee e1
join erm.employee e2 on e1.manager = e2.Employee_ID

In [0]:
%sql
use erm;
--create table erm.employees(id int,name string,manager_id int,salary double,designation string); 
INSERT INTO employees (id, name, manager_id, salary, designation) VALUES (1, 'Shripadh', NULL, 10000, 'CEO');
INSERT INTO employees (id, name, manager_id, salary, designation) VALUES (2, 'Satya', 5, 1400, 'Software Engineer');
INSERT INTO employees (id, name, manager_id, salary, designation) VALUES (3, 'Jia', 5, 500, 'Data Analyst');
INSERT INTO employees (id, name, manager_id, salary, designation) VALUES (4, 'David', 5, 1800, 'Data Scientist');
INSERT INTO employees (id, name, manager_id, salary, designation) VALUES (5, 'Michael', 7, 3000, 'Manager');
INSERT INTO employees (id, name, manager_id, salary, designation) VALUES (6, 'Arvind', 7, 2400, 'Architect');
INSERT INTO employees (id, name, manager_id, salary, designation) VALUES (7, 'Asha', 1, 4200, 'CTO');
INSERT INTO employees (id, name, manager_id, salary, designation) VALUES (8, 'Maryam', 1, 3500, 'Manager');
INSERT INTO employees (id, name, manager_id, salary, designation) VALUES (9, 'Reshma', 8, 2000, 'Business Analyst');

In [0]:
%sql

select * from erm.employees order by id

In [0]:
%sql

with recursive mgr as (

  select id, name, manager_id from erm.employees where name='David'
  union all
  select e.id, e.name, e.manager_id from mgr m 
  join erm.employees e on m.manager_id = e.id
)
select * from mgr

In [0]:
%sql

with recursive undermgr as (

select id,name,manager_id,1 as level from erm.employees where name='Asha'
union all 
select e.id,e.name,e.manager_id, u.level+1 as level from undermgr u
join erm.employees e on u.id = e.manager_id
)
select * from undermgr