In [0]:
%sql
create database strange;
use strange;
CREATE TABLE employee (
    id INT PRIMARY KEY,
    name VARCHAR(100),
    salary DECIMAL(10, 2),
    start_date DATE,
    end_date DATE,
    is_active CHAR(1)
);

In [0]:
%sql
truncate table employee;
INSERT INTO employee (id, name, salary, start_date, end_date, is_active)
VALUES 
    (1, 'Ravi', 50000, '2025-05-01', NULL, 'Y'),
    (2, 'Krisna', 60000, '2025-05-01', NULL, 'Y');

In [0]:
%sql
CREATE TABLE stg_employee (
    id INT,
    name VARCHAR(100),
    salary DECIMAL(10, 2),
    start_date DATE
);

In [0]:
%sql
truncate table stg_employee;
INSERT INTO stg_employee (id, name, salary, start_date)
VALUES 
    (1, 'Ravi', 55000, '2026-05-01'), -- Updated record
    (3, 'Hari', 70000, '2026-05-01'); -- New record

In [0]:
%sql
    INSERT INTO employee (id, name, salary, start_date, end_date, is_active)
SELECT id, name, salary, start_date, end_date, is_active 
FROM (
    MERGE INTO employee AS target
    USING stg_employee AS source
    ON target.id = source.id AND target.is_active = 'Y'
    WHEN MATCHED THEN
        UPDATE SET 
            target.is_active = 'N',
            target.end_date = GETDATE()
    WHEN NOT MATCHED THEN
        INSERT (id, name, salary, start_date, end_date, is_active)
        VALUES (source.id, source.name, source.salary, GETDATE(), NULL, 'Y')
)

In [0]:
%sql

select * from employee