In [0]:
%sql
show tables in postg

In [0]:
%sql

DROP TABLE IF EXISTS tau.customers;
CREATE TABLE tau.customers 
(
    id     INT,
    name   VARCHAR(50)
);
INSERT INTO tau.customers VALUES
(101, 'David'),
(102, 'Robin'),
(103, 'Carol'),
(104, 'Ali');

DROP TABLE IF EXISTS tau.orders;
CREATE TABLE tau.orders 
(
    id              INT,
    customer_id     INT,
    total_cost      DECIMAL,
    order_date      DATE
);
INSERT INTO tau.orders VALUES
(1, 101, 100, '2025-04-15'),
(2, 102, 40, '2025-04-20'),
(3, 101, 80, '2025-03-12'),
(4, 101, 120, '2025-03-12'),
(5, 103, 60, '2025-04-20'),
(6, 103, 50, '2025-04-20');

In [0]:
%sql
SELECT * FROM tau.customers;

In [0]:
%sql
SELECT * FROM tau.orders;

In [0]:
%sql

select name, coalesce(order_date,to_date('9999-01-01','yyyy-MM-dd')) as order_date , coalesce(sum(total_cost),0) as total 
from (
select name, order_date, total_cost, dense_rank() over(partition by name order by order_date desc ) as rnk 
from tau.customers  c
left join tau.orders o on c.id = o.customer_id 
)x where rnk =1
group by name, order_date
order by order_date