In [0]:
%sql


DROP TABLE IF EXISTS tau.customers;
CREATE TABLE tau.customers 
(
    id     INT PRIMARY KEY,
    name   VARCHAR(50)
);
INSERT INTO tau.customers VALUES
(101, 'David Smith'),
(102, 'Nikhil Reddy'),
(103, 'Carol Tan'),
(104, 'Riya Sengupta'),
(105, 'Liam Patel'),
(106, 'Priya Nair'),
(107, 'James Canny');

In [0]:
%sql

DROP TABLE IF EXISTS tau.orders;
CREATE TABLE tau.orders 
(
    id              INT PRIMARY KEY,
    customer_id     INT,
    order_date      DATE
);
INSERT INTO tau.orders VALUES
(1 , 101, '2024-01-05'),
(2 , 101, '2024-02-10'),
(3 , 101, '2024-03-03'),
(4 , 101, '2024-04-15'),
(5 , 101, '2024-05-20'),
(6 , 101, '2024-06-18'),
(7 , 101, '2024-07-12'),
(8 , 101, '2024-08-25'),
(9 , 101, '2024-09-30'),
(10, 101, '2024-10-22'),
(11, 101, '2024-11-02'),
(12, 101, '2024-12-17'),
(13, 102, '2024-01-10'),
(14, 102, '2024-02-15'),
(15, 102, '2024-03-10'),
(16, 102, '2024-04-05'),
(17, 102, '2024-05-07'),
(18, 102, '2024-06-12'),
(19, 102, '2024-07-14'),
(20, 102, '2024-08-16'),
(21, 103, '2024-01-01'),
(22, 103, '2024-04-01'),
(23, 103, '2024-07-01'),
(24, 103, '2024-10-01'),
(25, 104, '2024-02-20'),
(26, 104, '2024-05-20'),
(27, 104, '2024-08-20'),
(28, 105, '2024-01-01'),
(29, 105, '2024-02-01'),
(30, 105, '2024-03-01'),
(31, 105, '2024-04-01'),
(32, 105, '2024-05-01'),
(33, 105, '2024-06-01'),
(34, 105, '2024-07-01'),
(35, 105, '2024-08-01'),
(36, 105, '2024-09-01'),
(37, 105, '2024-10-01'),
(38, 105, '2024-11-01'),
(39, 105, '2024-12-01'),
(40, 102, '2024-08-10'),
(41, 102, '2024-07-05'),
(42, 102, '2024-06-06'),
(43, 102, '2024-05-26'),
(44, 106, '2024-01-02'),
(45, 106, '2024-02-13'),
(46, 106, '2024-03-05'),
(47, 106, '2024-04-16'),
(48, 106, '2024-05-26'),
(49, 106, '2024-06-17'),
(50, 106, '2024-07-19'),
(51, 106, '2024-08-20'),
(52, 106, '2024-09-12'),
(53, 106, '2024-10-22'),
(54, 106, '2024-11-03'),
(55, 106, '2024-12-14'),
(56, 105, '2025-01-28'),
(57, 105, '2025-04-21'),
(58, 103, '2025-03-22'),
(59, 101, '2023-01-15'),
(60, 101, '2023-02-11'),
(61, 101, '2023-03-13'),
(62, 101, '2023-05-10'),
(63, 101, '2023-06-12'),
(64, 101, '2023-07-11'),
(65, 101, '2023-12-12'),
(66, 107, '2024-01-22'),
(67, 107, '2024-02-28'),
(68, 107, '2024-03-31'),
(69, 107, '2024-04-30'),
(70, 107, '2024-05-30'),
(71, 107, '2024-06-30'),
(72, 107, '2024-07-31'),
(73, 107, '2024-08-31'),
(74, 107, '2024-09-30'),
(75, 107, '2024-10-31'),
(76, 107, '2024-11-30'),
(77, 107, '2024-12-28'),
(78, 107, '2024-12-31'),
(79, 107, '2023-07-31'),
(80, 107, '2023-08-31'),
(81, 107, '2023-09-30'),
(82, 107, '2023-10-31'),
(83, 107, '2023-11-30'),
(84, 107, '2023-12-31'),
(85, 105, '2023-01-21'),
(86, 105, '2023-03-09'),
(87, 105, '2023-04-20'),
(88, 105, '2023-06-10'),
(89, 105, '2023-10-10'),
(90, 105, '2023-11-21');

In [0]:
%sql 

select * from tau.customers

In [0]:
%sql
select * from tau.orders

In [0]:
%sql
with cte as (
select c.id, name, 
extract(year from order_date) as yr,
count(distinct (extract(month from order_date))) as cnt  from tau.orders o
left join tau.customers c on o.customer_id = c.id
group by c.id, name, yr 
)
select c23.name 
from cte as c23 
left join cte as c24 on c23.name = c24.name 
where c23.yr = 2023 and c23.cnt >= 6
and c24.yr =2024 and c24.cnt >= 12
and c23.id not in (select id from cte where yr =2025)