In [0]:
%sql select * from postg.T1

In [0]:
l11 =[1,1,1,1,1,None,None] 
l21=[1,1,1,2,None]

from pyspark.sql.functions import *
from pyspark.sql.types import *
import pandas as pd

pdf11 = spark.createDataFrame(pd.DataFrame(l11),schema="id int")
pdf21 = spark.createDataFrame(pd.DataFrame(l21),schema="id int")
pdf11.show()
pdf21.show()

pdf11.write.format("delta").saveAsTable("postg.T3",mode='overwrite')
pdf21.write.format("delta").saveAsTable("postg.T4",mode='overwrite')

In [0]:
%sql select * from postg.T3 join postg.T4 on T3.id = T4.id

In [0]:
%sql select * from postg.T3 left join postg.T4 on T3.id = T4.id

In [0]:
%sql select * from postg.T3 right join postg.T4 on T3.id = T4.id

In [0]:
%sql select * from postg.T3 cross join postg.T4